#what won't be tracked
target/*
bin/*
obj/*
*.db
*.log
file.txt
/TriangleService/TriangleService/bin/*
/TriangleService/TriangleService/obj/*
/TriangleService/TriangleService.Tests/bin/*
/TriangleService/TriangleService.Tests/obj/*
/TriangleService/TriangleService.Exceptions/bin/*
/TriangleService/TriangleService.Exceptions/obj/*
/TriangleService/.vscode/*
/WebDriverTesting/.idea/*
/WebDriverTesting/PageObjectModel/Page/bin/*
/WebDriverTesting/PageObjectModel/Page/obj/*
/WebDriverTesting/PageObjectModel/Test/bin/*
/WebDriverTesting/PageObjectModel/Test/obj/*
/WebDriverTesting/Tests/bin/*
/WebDriverTesting/Tests/obj/*
# /*.db would ignore files only in .gitignore directory
